:root {
	--color-dark: #0e0c15;
	--color-light: #ffffff;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'VTB Group UI', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 500;
	background-color: var(--color-light);
	color: var(--color-dark);
}

p {
	margin: 0;
}

input {
	padding: 0;
	margin: 0;
}

table {
	border-spacing: 0;
}

thead,
tbody,
tfoot,
tr {
	display: contents;
}
